html, body{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
.wrapper{
  flex: 1 0 auto;
}
.footer{
  margin-top: 250px;
  padding: 10px;
  padding-top: 20px;
  flex-shrink: 0;
  background-color: white;
  width: 100%;
  top: 0;
  height: 30px;
  border: 1px solid #DFDFDF;
  box-shadow: 3px 3px 3px 3px #DFDFDF;
  margin-left: -10px;
  text-align: center;
}
h1{
  margin-top: 250px;
  margin-left: 300px;
}
.heading{
  /*float: left;*/
}

.allflowerimages {
  display: inline-block;
  /*float: left;*/
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
}
/*.allflowerimages img{
  padding-bottom: 20px;
}*/
#flower2, #flower3, #flower4{
  padding-bottom: 25px;
}
#flower1{
  padding-bottom: 28px;
}
.cap1{
  margin-left: -65px;
}
.cap2, .cap3, .cap4{
  padding-left: 5px;
}
.cap1{
  font-size: 15px;
}
.flowerimage1{
  display: inline-block;
  float: left;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 35px;
}
.flowerimage2, .flowerimage3, .flowerimage4{
  display: inline-block;
  float: left;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
}
.allflowerimages{
  margin-left: 330px;
}

.flowerimage1{
  grid-area: flowerone;
  justify-self: center;
  float: left;
}
.flowerimage2{
  grid-area: flowertwo;
  justify-self: start;
  float: left;
  margin-left: 5px;
}
.flowerimage3{
  grid-area: flowerthree;
  justify-self: end;
  float: left;
}
.flowerimage4{
  grid-area: flowerfour;
  justify-self: center;
  align-self: end;
  float: left;
}
/*style show text on hover*/
#flower1, #flower2, #flower3, #flower4{
  opacity: 2;
  transition: .3s ease;
  backface-visibility: hidden;
}
.flowerone, .flowertwo, .flowerthree, .flowerfour{
  position: relative;
}

.hovertext1, .hovertext2, .hovertext3, .hovertext4{
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.flowerimage1:hover #flower1, .flowerimage2:hover #flower2, .flowerimage3:hover #flower3, .flowerimage4:hover #flower4{
  opacity: 0.2;
}*/
.flowerone:hover #flower1, .flowertwo:hover #flower2, .flowerthree:hover #flower3, .flowerfour:hover #flower4{
  opacity: 0.2;
}

.flowerimage1:hover .hovertext1, .flowerimage2:hover .hovertext2, .flowerimage3:hover .hovertext3, .flowerimage4:hover .hovertext4{
  opacity: 1;
}

/*.hovertext3, .hovertext4{
position: absolute;
  color: black;
  font-size: 25px;
}
.hovertext1, .hovertext2, .hovertext5{
  color: black;
    font-size: 25px;
    position: absolute;
    text-align: center;
}
*/


/*Style nav bar*/
.header {
  padding: 10px 16px;
  margin-left: -10px;
  background: #555;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}
.nav{
  margin-left: 30%;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index:1;
  width: 100%;
  top: 0;
  height: 100px;
  border: 1px solid #DFDFDF;
  box-shadow: 3px 3px 3px 3px #DFDFDF;
}

/* Navbar links */
#navbar a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  text-decoration: none;
}
#star_of_david{
  font-size: 70px;
  margin-top: -40px;
}
#project{
  /*margin-left: 10px;*/
  margin-right: 10px;
}
#contact{

}
#homeicon{
  margin-top: -20px;
}
#homeicon:hover{
  opacity: 0.5;
  color: black;
}
#logo{
  margin-top: -50px;
}



/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



/* reference: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
 /* Can also try: https://codepen.io/mxttsco/pen/KgodYm*/
.hov{
  position: relative;
    color: #000;
    text-decoration: none;
    padding-bottom: 10px;
}
.hov:hover{
  color: #000;
}
.hov:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #99CCCC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.hov:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
